// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #888;
$light-gray: #ccc;
$lightening-gray: #edeef04a;
$black-light: #4d4d4d;
$black: #000;
$white: #fff;
$light-blue: #67707a;
$pink: #846EF4;
$light-pink: #b972b1;
$orange: #F17674;
$porcelain: #E2E1E0;

$yellow:  #add356;
$teal:    #00dfa6;
$lorange: #ffcb52;
$dorange: #ff451f;
$blue:    #3dade9;
$purple:  #bf2fcb;

$lighten-gray: #c7c7c7;
$red: #ff6e6f;
$bezier: cubic-bezier(.175, .885, .32, 1.275);

$primary-color: $pink;
$secondary-color: $orange;

$primary-gradient: linear-gradient(225deg, $primary-color, $secondary-color);
$back-primary-gradient: linear-gradient(225deg,  $secondary-color, $primary-color);

$base-font-sans-serif: 'Montserrat', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-font-cursive: 'Lobster', cursive, $base-font-sans-serif;

// Body
$base-text-color: $light-blue !default;
$base-background-color: $lightening-gray !default;
$base-font-size: 16px !default;
$base-line-height: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $light-blue;

// Buttons
$btn-color: $white;
$btn-background: $black !default;
$btn-padding: 10px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $light-pink !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: $base-font-cursive;
$headings-color: $light-pink !default;


$animation-speed: 0.3s;
