// Colors
$white: #fff;
$gray: #999;
$light-gray: #BDC0C3;
$medium-gray: #a3b1bf;
$shuttle-gray: #596675;
$black: #333;
$whisper: #F5F7FA;
$green: #00bc9c;
$dark-green: #17a78b;
$blue: #506a85;
$light-blue: #93a3b3;
$medium-blue: #4e6883;
$alice-blue: #f2f5f7;
$solitude: #e6e9ed;
$midnight: #283645;
$cello: #3a4a57;
$madison: #2f4052;

//social
$dribbble: #eb6397;
$facebook: #4668b3;
$google: #de5745;
$twitter: #2fbbed;
$pinterest: #d94348;
$behance: #3079ff;
