//burger-menu
#wrapper {

	&:after {
		@include animate(opacity z-index background);
		content: "";
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1;
		background-color: transparent;
	}

	@include media('>=tablet') {

		&:after {
			display: none;
		}
	}
}

.nav-active {
	overflow: hidden;

	#wrapper {

		&:after {
			opacity: 1;
			z-index: 3;
			background-color: rgba(51, 51, 51, 0.7);
		}
	}

	.main-nav {
		visibility: visible;
		left: 0;
	}

	.nav-opener {

		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform: rotate(-45deg);
			top: 50%;
			left: 0;
			right: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
	}
}

.main-nav {
	@include animate(visibility right left);
	position: fixed;
	width: 250px;
	top: 0;
	left: -100%;
	bottom: 0;
	height: 100vh;
	overflow-y: auto;
	visibility: hidden;
	z-index: 5;

	@include media('<tablet') {
		background-image: url(images/FemalePhotographer.png), $primary-gradient;
		background-size: 180px, 100%;
		background-position: bottom 80px center, 0 0;
		background-repeat: no-repeat;
	}

	@include media('>=tablet') {
		position: static;
		height: auto;
		visibility: visible;
		overflow: visible;
		background-image: none;
	}
}

.nav-opener {
	display: block;
	width: 38px;
	height: 22px;
	position: absolute;
	top: 4px;
	right: 15px;
	text-indent: -9999px;
	z-index: 9999;

	@include media('>=tablet') {
		display: none;
	}

	&:after,
	&:before,
	span {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 3px;
		background: $white;
		transition: all .3s;
	}

	&:before {
		top: 0;
	}
	span {
		top: 50%;
	}
	&:after {
		top: 100%;
	}
}

.resize-active {
	.navbar-nav,
	.main-nav {
		transition: none;
	}
}

//end burger-menu