#wrapper {
	margin: 0 auto;
	max-width: $base-max-width;
	position: relative;
}
.content-wrap{
	@extend %clearfix;
	margin: 26px 152px 31px 100px;
	padding-bottom: 31px;
	border-bottom: 2px solid #a6a8aa;
	@include media('<widescreen'){
		margin: 26px 15px 31px 15px;
	}
	@include media('<desktop'){
		margin: 26px 22px 31px 22px;
	}
	@include media('<tablet'){
		margin-top: 0;
	}
}
.content{
	width: 66%;
	float: left;
	position: relative;
	@include media('<desktop'){
		clear: both;
		float: none;
		width: 100%;
	}
	.video{
		margin: 14px 0 31px 0;
		width: 100%;
	}
}