$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
// @import 'vendors/sl-slider-demo';
@import 'vendors/sl-slider-style';
@import 'vendors/sl-slider-custom';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/grid';

@import 'layout/navigation';

/* header */

#header {
	position: relative;
	background-color: rgba($black, .7);
	padding: 10px 0;
	z-index: 6;

	.logo-box {
		padding: 0 15px;
		overflow: hidden;
	}

	a {
		text-decoration: none;
	}
}

ul {
	@extend %listreset;
}

.main-nav {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding: 0 15px;
}

.navbar-nav {

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	> li {
		position: relative;
		padding: 0 15px;

		&:hover {

			> .slide {
				visibility: visible;
				opacity: 1;
				z-index: auto;
			}
		}

		> .slide { // slide -1

			> ul {

				> li {

					> a {
						color: red;
					}
				}
			}
		}
	}

	.slide { // slide - all
		padding: 10px;

		@include media('>=tablet') {
			@include animate(opacity visibility);
			position: absolute;
			left: 0;
			width: 200px;
			top: 100%;
			border: 1px solid red;
			visibility: hidden;
			opacity: 0;
			z-index: -1;
		}
	}
}

@include media('<tablet') {

	ul {

		> .has-drop-down {

			&.open {

				> .has-drop-down-a {

					&:after {
						transform: rotate(90deg);
					}
				}
			}

			.has-drop-down-a {
				position: relative;
				padding-right: 20px;

				&:after {
					@include animate(transform);
					content: "\f105";
					position: absolute;
					top: -4px;
					right: 0;
					transform: rotate(0);
					font-size: 20px;
					font-family: FontAwesome;
				}
			}
		}
	}
}

/* end-header */

/* common */
#wrapper {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1290px;
	padding: 0 15px;
	margin: 0 auto;
}

a {
	@include animate(opacity color background);
}

.btn {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 5px;
	background-color: orange;
	text-align: center;
	color: $white;
}

.holder-slider {
	position: relative;
	height: 100vh;
	margin-top: -58px;
}

.sl-slide {

	.sl-slide-inner {
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		z-index: 0;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba(black, .5);
			z-index: -1;
		}

		h2 {
			text-transform: capitalize;
			text-shadow: 0px 0px 8px rgba(255, 255, 255, .6) !important;
		}

		p,
		cite {
			color: rgba($white, .6);
		}
	}
}

.nav-arrows {

	span {

		&.nav-arrow-prev,
		&.nav-arrow-next {
			@include animate(all);
			border-color: rgba($white, .5);

			&:hover {
				border-color: rgba($white, .2);
			}
		}
	}
}

.section-portfolio {
	background: #131212;
	overflow: auto;
}

.block-portfolio {
	position: relative;
	column-count: 3;
	column-gap: 0;
	overflow: hidden;
	padding-bottom: 30px;

	@include media('>=widescreen') {
		column-count: 4;
	}

	&:hover {

		.portfolio-item {
			@include animate(opacity);
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}
		}
	}

	.portfolio-item {
		display: none;
		position: relative;
		overflow: hidden;
		// opacity: .1;
		margin: 0;

		img {
			width: 100%;
			display: block;
		}

		.text {
			@include animate(top transform);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			transform: translateY(100%);
			background-color: rgba($black, .6);
			text-align: center;
			padding: 5px;
		}

		&:hover {

			.text {
				transform: translateY(0);
			}
		}
	}
}

/* end-common */

/* footer */
/* end-footer */
