$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/sl-slider-style';
@import 'vendors/sl-slider-custom';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/grid';

@import 'layout/navigation';

/* header */

#header {
	position: relative;
	background-image: linear-gradient(325deg, rgba($primary-color, 1), rgba($secondary-color, 1));
	padding: 10px 0;
	z-index: 6;

	.logo-box {
		padding: 0 15px;
		overflow: hidden;
	}

	a {
		text-decoration: none;
	}
}

ul {
	@extend %listreset;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding: 15px;

	@include media('>=tablet') {
		display: block;
	}

	@include media('>=tablet') {
		padding: 0 15px;
	}

	.social-box {
		width: calc(100% + 20px);
		justify-content: center;
		text-align: center;
		font-size: 37px;
		padding: 10px 0;
		margin: 0 -10px;
		align-self: flex-end;

		@include media('>=tablet') {
			display: none;
		}

		> li {
			padding: 0 10px;

			a {
				color: $white;

				&:hover {
					opacity: .5;
				}
			}
		}
	}
}

.navbar-nav {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	align-self: center;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		text-align: left;
		text-transform: none;
		width: auto;
		height: 100%;
		font-weight: 500;
		font-style: italic;
		margin: 0 -15px;
	}

	> li {
		position: relative;
		padding: 10px 0;

		@include media('>=tablet') {
			padding: 0 15px;
		}

		&.has-drop-down {

			> .slide {

				@include media('<tablet') {
					padding: 10px 0 0;
				}
			}
		}

		&.active {

			> a {

				&:before {
					left: 0;
					right: 0;
					visibility: visible;
					opacity: 1;
				}
			}
		}

		> a {
			@extend %underline;
			color: $white;
			padding-bottom: 4px;

			&:before {
				height: 2px;
			}
		}

		&:hover {

			> .slide {
				visibility: visible;
				opacity: 1;
				z-index: auto;
			}
		}

		> .slide { // slide -1

			> ul {
				font-size: 12px;
				line-height: 1.6;

				> li {

					> a {
						color: $white;
					}
				}
			}
		}
	}

	.slide { // slide - all
		padding: 10px;

		@include media('>=tablet') {
			@include animate(opacity visibility);
			position: absolute;
			left: 0;
			width: 200px;
			top: 100%;
			border: 1px solid red;
			visibility: hidden;
			opacity: 0;
			z-index: -1;
		}
	}
}

@include media('<tablet') {

	ul {

		> .has-drop-down {

			&.open {

				> .has-drop-down-a {

					&:after {
						transform: rotate(-180deg);
					}
				}
			}

			.has-drop-down-a {
				position: relative;
				padding-right: 20px;

				&:after {
					@include animate(transform);
					content: "\f110";
					position: absolute;
					top: 3px;
					right: 0;
					transform: rotate(0);
					font-size: 13px;
					font-family: "LineAwesome";
				}
			}
		}
	}
}

/* end-header */

/* common */
#wrapper {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1290px;
	padding: 0 15px;
	margin: 0 auto;
}

h1 {

	@include media('>=desktop') {
		font-size: 47px;
	}
}

h2 {

	@include media('>=desktop') {
		font-size: 43px;
	}
}

a {
	@include animate(opacity color background);
}

.btn {
	display: inline-block;
	color: $white;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	border-radius: 4px;
	background-color: $primary-color;
	box-shadow: 0 10px 20px -7px rgba(0, 0, 0, .2);
	padding: 10px 15px;

	&.btn-primary {
		background-image: $primary-gradient;

		&:hover {
			background-image: $back-primary-gradient;
		}
	}
}

.social-box {
	@extend %listreset;
	display: flex;
	flex-wrap: wrap;
}

.holder-slider {
	position: relative;
	height: 100vh;
}

.sl-slide {

	.sl-slide-inner {
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		z-index: 0;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: linear-gradient(to bottom, rgba(0,0,0, 0.02) 0%, rgba(0,0,0, 0.2) 53%, rgba(0,0,0, 0.7) 100%);
			z-index: -1;
		}

		h2,
		p,
		cite {
			color: $white;
			text-shadow: 0px 0px 8px rgba(0, 0, 0, .6) !important;
			line-height: 1.4;
		}

		h2 {
			text-transform: capitalize;
		}

		p {
			font-size: 14px;
		}

		cite {
			font-size: 10px;
		}
	}
}

.nav-arrows {

	span {

		&.nav-arrow-prev,
		&.nav-arrow-next {
			@include animate(all);
			border-color: rgba($white, .5);

			&:hover {
				border-color: rgba($white, .2);
			}
		}
	}
}

.section-portfolio {

	.loadmore {

		.btn {
			border: none;
		}
	}
}

.block-portfolio {
	position: relative;
	column-count: 2;
	column-gap: 15px;
	overflow: hidden;
	padding-bottom: 30px;

	@include media('>=tablet') {
		column-count: 3;
	}

	@include media('>=widescreen') {
		column-gap: 30px;
		column-count: 4;
	}

	// &:hover {

	// 	.portfolio-item {
	// 		@include animate(opacity);
	// 		filter: blur(1px);

	// 		&:hover {
	// 			filter: blur(0);
	// 		}
	// 	}
	// }

	.portfolio-item {
		display: none;
		position: relative;
		margin: 0 0 11px;

		@include media('>=widescreen') {
			margin: 0 0 26px;
		}

		&:before {
			@include mboxshadow(3);
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			@include media('>=widescreen') {
				@include mboxshadow(4);
			}
		}

		&:hover {

			.text {
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
			}
		}

		img {
			width: 100%;
			display: block;
		}

		.text {
			@include animate(transform visibility opacity);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			transform: translateY(100%);
			visibility: hidden;
			opacity: 0;
			background-color: rgba($black, .6);
			text-align: center;
			padding: 5px;
		}
	}
}

/* end-common */

/* footer */
/* end-footer */
